<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'sireps/favicon.png'%}">
	
		<title>IEEBC - SIREPS</title>
		{% load bootstrap4 %}
		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}

		<link href="{% static 'sireps/base.css'%}" rel="stylesheet">
	</head>
<body>

	<!-------------------------------------
					NavBar 
	-------------------------------------->

	<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #782484;">
		<div class="container-fluid">
			
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="navbar-brand" href="{% url 'registros' %}">
						<img src="{% static 'sireps/logo_iee.svg'%}" height="30" class="d-inline-block align-top" alt="">
					</a>
				</li>
			</ul>
			

			<ul class="nav navbar-nav mx-auto">
					<li class="nav-item">
						<a class="navbar-brand mx-auto" href="{% url 'registros' %}">SIREPS</a>
					</li>
			</ul>	
		</div>
	</nav>

	

	<!-------------------------------------
					Container
	-------------------------------------->

	<main role="main">
		<div class="container-fluid">	

			<!-------------------------------------
							Messages 
			-------------------------------------->
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-secondary alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>	
				{% endfor %}
			{% endif %}

			<!-------------------------------------
							Contenido 
			-------------------------------------->

			{% block content %}

			{% endblock content %}  	
			
		</div>		
	</main><!-- /.container -->
</body>
</html>