{% extends 'sireps/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-7">
        <div class="text-center">
            <h2>Sistema de Registro Estatal de Personas Sancionadas en Materia de Violencia Política contra las Mujeres en Razón de Género</h2>
        </div>
        <hr>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            
            <button type="submit" id="submit" class="btn btn-secondary" style="background-color: #782484; border-color: #782484;">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}