<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">¿Esta seguro/a de eliminar el registro?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <p>
                <b>Nombre: </b>{{ registro.nombre }}
                <br>
                <b>Número de expediente: </b>{{ registro.expediente }}
            </p>
        </div>
        <div class="modal-footer">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{% url 'registro-eliminar' registro.pk %}">Eliminar</a>
            </div>            
        </div>
    </div>
    </div>
</div>