{% extends 'sireps/base_fluid.html' %}
{% load humanize %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <div class="text-center">
            <h2>Registro Estatal de Personas Sancionadas en Materia de Violencia Política contra las Mujeres en Razón de Género</h2>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <div class="card text-white mb-3" style="max-width: 15rem; background-color: #782484;">
            <div class="card-header">Total de registros:    <b>{{registros.count}}</b></div>
        </div>
    </div>
    <div class="col">
        <div class="float-right">
            <a class="btn btn-success" href="{% url 'exportar' %}">Exportar</a>
        </div>
    </div>            
</div>

<br>

<div class="row">
    <div class="col">
        <div class="table-responsive-sm">
            <table class="table table-striped table-bordered table-hover table-sm small">
                <thead class="thead-dark"> 
                    <tr>
                        <th>Nombre</th>                    
                        <th>Cargo</th>
                        <th>Sexo</th>
                        <th>Ámbito Territorial</th>
                        <th>Número de Expediente</th>
                        <th>Relación con la víctima</th>
                        <th>Incidencia en el proceso electoral</th>
                        <th>Órgano resolutor</th>
                        <th>Fecha de Resolución</th>
                        <th>Conducta</th>
                        <th>Sanción</th>
                        <th>Permanencia</th>
                        <th>Reincidencia de la conducta</th>
                        <th>Resolución penal</th>
                        <th>Documento enlace</th>
                    </tr>
                </thead>
                <tbody>            
                    {% for registro in registros %}
                        <tr>
                            <td>{{registro.nombre}}</td>           
                            <td>{{registro.get_cargo_display}}</td>         
                            <td>{{registro.get_sexo_display}}</td>
                            <td>{{registro.get_ambito_display}}</td>
                            <td>{{registro.expediente}}</td>
                            <td>{{registro.get_relacion_display}}</td>
                            <td>{{registro.incidencia}}</td>
                            <td>{{registro.organo}}</td>
                            <td>{{registro.fecha_resolucion}}</td>
                            <td>{{registro.conducta}}</td>
                            <td>{{registro.get_sancion_display}}</td>
                            <td>{{registro.permanencia}}</td>
                            <td>{{registro.get_reincidencia_display}}</td>
                            <td>{{registro.get_resolucion_display}}</td>
                            <td><a href="{{registro.enlace}}">{{registro.enlace}}</a></td>
                        </tr>
                    {% endfor %}                
                </tbody>
            </table>     
        </div>
    </div>
</div>

{% endblock %}