{% extends 'sireps/base.html' %}
{% load humanize %}
{% block content %}

{% if request.user.is_authenticated %}			
	<div class="row">  
        <div class="col">    
            <a class="btn btn-secondary" href="{% url 'registro-nuevo' %}" style="background-color: #782484; border-color: #782484;">Nuevo Registro</a>	
        </div> 
        <div class="col">
            <div class="float-right">
                <a class="btn btn-success float-right" href="{% url 'exportar' %}">Exportar</a>
            </div>
        </div>            
	</div>
	<br>
{% endif %}

<div class="row">
    <div class="col">
        <div class="table-responsive-sm">
            <table class="table table-striped table-bordered table-hover table-sm small">
                <thead class="thead-dark"> 
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre de la persona sancionada</th>
                        <th>Sexo</th>
                        <th>Cargo</th>
                        <th>Ámbito Territorial</th>
                        <th>Número de Expediente</th>
                        <th>Fecha de Resolución</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>            
                    {% for registro in registros %}
                        <tr>
                            <td>{{registro.get_tipo_display}}</td>
                            <td>{{registro.nombre}}</td>                    
                            <td>{{registro.get_sexo_display}}</td>
                            <td>{{registro.get_cargo_display}}</td>
                            <td>{{registro.get_ambito_display}}</td>
                            <td>{{registro.expediente}}</td>
                            <td>{{registro.fecha_resolucion}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{% url 'registro-editar' registro.pk %}" class="btn btn-warning btn-sm">Modificar</a>
                                    <a data-url="{% url 'registro-modal' registro.pk %}" data-id="{{ registro.id }}" class="btn btn-danger btn-sm delete-modal">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-light">Sin registros</td>
                        </tr>
                    {% endfor %}                
                </tbody>
            </table>  
        </div>      
    </div>

</div>

{% endblock %}