{% extends 'sireps/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}

<h2>Nuevo Registro</h2>

<hr>

<form method="post" autocomplete="off">
    {% csrf_token %}

    {{ form|crispy }}

    <div class="text-right">        
        <div class="btn-group" role="group">
            <a class="btn btn-secondary" href="{% url 'registros' %}">Cancelar</a>
            <button type="submit" class="btn btn-secondary" id="submit" style="background-color: #782484; border-color: #782484;">Crear Registro</button>
        </div>
    </div>
</form>
{% endblock %}